script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
style!=css
script!=js
#djDebug
	#djDebugToolbar(style="display:none;")
		ul#djDebugPanelList  
			li
				a#djHideToolBarButton(href="#", title="Hide Toolbar") Hide &raquo;
				- each panel, panelId in panels
					- if (!panel.content)
						li
							.contentless= panel.title
								- if (panel.subtitle)
									br
									small= panel.subtitle
					- else
						li
							a(title=panel.title, href="#", class="panel-"+panelId)= panel.title
								- if (panel.subtitle)
									br
									small= panel.subtitle
	#djDebugToolbarHandle
		a#djShowToolBarButton(title="Show Toolbar", href="#") &laquo;  
	- each panel, panelId in panels
		- if (panel.content)
			.panelContent(id='panel-'+panelId)
				.djDebugPanelTitle
					a.djDebugClose(href="#") Close
					h3=panel.title
				.djDebugPanelContent
					.scroll!=panel.content
	#djDebugWindow.panelContent